<a href="https://colab.research.google.com/github/KAILASHVenkat/IT304M/blob/main/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
from sklearn.model_selection import train_test_split

In [139]:
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.1.4)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.7.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

In [161]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report
import numpy as np

from ucimlrepo import fetch_ucirepo

bank_marketing = fetch_ucirepo(id=222)

In [162]:
df = bank_marketing.data.features
df_target = bank_marketing.data.targets
df_combined = df.join(df_target)
df_combined

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN,no
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN,no
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN,no
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,NaN,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,NaN,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,NaN,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [163]:
cat_cols=df_combined.select_dtypes('object').columns.tolist()
num_cols=df_combined.select_dtypes('int64').columns.tolist()

In [164]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          45211 non-null  int64
 1   job          44923 non-null  object
 2   marital      45211 non-null  object
 3   education    43354 non-null  object
 4   default      45211 non-null  object
 5   balance      45211 non-null  int64
 6   housing      45211 non-null  object
 7   loan         45211 non-null  object
 8   contact      32191 non-null  object
 9   day_of_week  45211 non-null  int64
 10  month        45211 non-null  object
 11  duration     45211 non-null  int64
 12  campaign     45211 non-null  int64
 13  pdays        45211 non-null  int64
 14  previous     45211 non-null  int64
 15  poutcome     8252 non-null   object
 16  y            45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [165]:
for x in df_combined.columns:
  if x not in ["contact", "poutcome"]:
    df_combined[x].fillna(df_combined[x].mode()[0], inplace=True)
  else:
    df_combined[x].fillna("Unknown", inplace=True)
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          45211 non-null  int64
 1   job          45211 non-null  object
 2   marital      45211 non-null  object
 3   education    45211 non-null  object
 4   default      45211 non-null  object
 5   balance      45211 non-null  int64
 6   housing      45211 non-null  object
 7   loan         45211 non-null  object
 8   contact      45211 non-null  object
 9   day_of_week  45211 non-null  int64
 10  month        45211 non-null  object
 11  duration     45211 non-null  int64
 12  campaign     45211 non-null  int64
 13  pdays        45211 non-null  int64
 14  previous     45211 non-null  int64
 15  poutcome     45211 non-null  object
 16  y            45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [166]:
df_combined

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,Unknown,5,may,261,1,-1,0,Unknown,no
1,44,technician,single,secondary,no,29,yes,no,Unknown,5,may,151,1,-1,0,Unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,Unknown,5,may,76,1,-1,0,Unknown,no
3,47,blue-collar,married,secondary,no,1506,yes,no,Unknown,5,may,92,1,-1,0,Unknown,no
4,33,blue-collar,single,secondary,no,1,no,no,Unknown,5,may,198,1,-1,0,Unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,Unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,Unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,Unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [167]:
for x in cat_cols:
  print(df_combined[x].value_counts())

job
blue-collar      10020
management        9458
technician        7597
admin.            5171
services          4154
retired           2264
self-employed     1579
entrepreneur      1487
unemployed        1303
housemaid         1240
student            938
Name: count, dtype: int64
marital
married     27214
single      12790
divorced     5207
Name: count, dtype: int64
education
secondary    25059
tertiary     13301
primary       6851
Name: count, dtype: int64
default
no     44396
yes      815
Name: count, dtype: int64
housing
yes    25130
no     20081
Name: count, dtype: int64
loan
no     37967
yes     7244
Name: count, dtype: int64
contact
cellular     29285
Unknown      13020
telephone     2906
Name: count, dtype: int64
month
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: count, dtype: int64
poutcome
Unknown    36959
failure     4901
other       1840
success     1511
Name: count, dtype: int64
y
no     39922
yes     5289
Name: count, dtype: int64

In [168]:
df_combined['job'].replace({'student':'unemployed','housemaid' : 'unemployed'},inplace=True)

In [169]:
print(df_combined['job'].value_counts())

job
blue-collar      10020
management        9458
technician        7597
admin.            5171
services          4154
unemployed        3481
retired           2264
self-employed     1579
entrepreneur      1487
Name: count, dtype: int64

In [170]:
for x in num_cols:
  print(df[x].isnull().sum())

0
0
0
0
0
0
0

In [171]:
category_mapping = {'primary': 1, 'secondary': 2, 'tertiary': 3}

df_combined['education'] = df_combined['education'].map(category_mapping)

In [172]:
df_combined['education'].unique()

array([3, 2, 1])

In [173]:
category_mapping = {'jan' : 1,'feb' : 2 , 'mar' : 3, 'apr' : 4 , 'may' : 5 , 'jun' : 6 , 'jul' : 7 , 'aug' : 8 , 'sep' : 9 , 'oct' : 10 , 'nov' : 11 , 'dec' : 12}

df_combined['month'] = df_combined['month'].map(category_mapping)

In [174]:
df_combined['month'].unique()

array([ 5,  6,  7,  8, 10, 11, 12,  1,  2,  3,  4,  9])

In [175]:
df_combined.loc[df_combined['pdays'] == -1, 'pdays'] = 'not contacted'
df_combined.loc[df_combined['pdays'] != 'not contacted', 'pdays'] = 'contacted'

<ipython-input-175-ad2b7f8aa38f>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'not contacted' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_combined.loc[df_combined['pdays'] == -1, 'pdays'] = 'not contacted'

In [176]:
df_combined['pdays'].unique()

array(['not contacted', 'contacted'], dtype=object)

In [177]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          45211 non-null  int64
 1   job          45211 non-null  object
 2   marital      45211 non-null  object
 3   education    45211 non-null  int64
 4   default      45211 non-null  object
 5   balance      45211 non-null  int64
 6   housing      45211 non-null  object
 7   loan         45211 non-null  object
 8   contact      45211 non-null  object
 9   day_of_week  45211 non-null  int64
 10  month        45211 non-null  int64
 11  duration     45211 non-null  int64
 12  campaign     45211 non-null  int64
 13  pdays        45211 non-null  object
 14  previous     45211 non-null  int64
 15  poutcome     45211 non-null  object
 16  y            45211 non-null  object
dtypes: int64(8), object(9)
memory usage: 5.9+ MB

In [178]:
scaler = MinMaxScaler()

In [179]:
num_cols=df_combined.select_dtypes('int64').columns.tolist()

In [180]:
scaler.fit(df_combined[num_cols])
df_combined[num_cols] = scaler.transform(df_combined[num_cols])

In [181]:
df_combined

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome,y
0,0.519481,management,married,1.0,no,0.092259,yes,no,Unknown,0.133333,0.363636,0.053070,0.000000,not contacted,0.000000,Unknown,no
1,0.337662,technician,single,0.5,no,0.073067,yes,no,Unknown,0.133333,0.363636,0.030704,0.000000,not contacted,0.000000,Unknown,no
2,0.194805,entrepreneur,married,0.5,no,0.072822,yes,yes,Unknown,0.133333,0.363636,0.015453,0.000000,not contacted,0.000000,Unknown,no
3,0.376623,blue-collar,married,0.5,no,0.086476,yes,no,Unknown,0.133333,0.363636,0.018707,0.000000,not contacted,0.000000,Unknown,no
4,0.194805,blue-collar,single,0.5,no,0.072812,no,no,Unknown,0.133333,0.363636,0.040260,0.000000,not contacted,0.000000,Unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.428571,technician,married,1.0,no,0.080293,no,no,cellular,0.533333,0.909091,0.198658,0.032258,not contacted,0.000000,Unknown,yes
45207,0.688312,retired,divorced,0.0,no,0.088501,no,no,cellular,0.533333,0.909091,0.092721,0.016129,not contacted,0.000000,Unknown,yes
45208,0.701299,retired,married,0.5,no,0.124689,no,no,cellular,0.533333,0.909091,0.229158,0.064516,contacted,0.010909,success,yes
45209,0.506494,blue-collar,married,0.5,no,0.078868,no,no,telephone,0.533333,0.909091,0.103294,0.048387,not contacted,0.000000,Unknown,no
45210,0.246753,entrepreneur,married,0.5,no,0.099777,no,no,cellular,0.533333,0.909091,0.073404,0.016129,contacted,0.040000,other,no